* {
    margin: 0;
    padding: 0;
}

#content {
    width: 100%;
    height: 100%;
}

#weather-box {

}

#today {

}

#today-head {

}

#city{

}

#date-time {

}

#today-summary {

}

#today-temp {

}

#today-feels-like {

}

#today-high {

}

#today-low {

}

#today-rise {

}

#today-details {

}

#today-condition {

}

#today-rain {

}

#today-humidity {

}

#today-wind-speed {

}

#today-wind-direction {

}