* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
 }

#content {
    height: 100%;
    min-width: 420px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    gap: 3px;
}

#logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 8px 0 0;
}

#gust-logo {
    height: 60px;
}

#gust-text {
    font-size: 28px;
}

#search-box {
    white-space: nowrap;
}

#search-field {
    font-size: 25px;
    padding: 10px 15px 10px 15px;
    border: solid 2px rgb(175, 182, 182);
    border-radius: 20px;
    width: clamp(10px, 76%, 322px);
}

#search-submit {
    font-size: 21px;
    background-color: white;
    padding: 12px;
    margin: 0 0 0 8px;
    border: 2px solid rgb(245, 140, 54);
    border-radius: 30px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    box-sizing: border-box;
}

#search-submit:hover {
    background-color: rgb(245, 140, 54);
    border: 2px solid black;
    color: white;
    border-radius: 15px;
}

#metric {
    display: flex;
    justify-content: center;
    width: 126.48px;
    box-sizing: border-box;
    margin: 0 0 0 8px;
}

#metric-switch {
    font-size: 21px;
    background-color: white;
    padding: 12px;
    border: 2px solid rgb(54, 130, 245);
     border-radius: 15px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

#metric-switch:hover {
    background-color: rgb(54, 130, 245);
    border: 2px solid black;
    color: white;
       border-radius: 30px;
}

/* OVERLAY */
#overlay {
    height: 100%;
}

#overlay-gust-logo {
    width: 300px;
}

#overlay-gust-text {
    font-size: 28px;
}

/* WEATHER BOX */
#weather-box {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 20px;
}

.hidden {
    display: none;
}

.visible {
    display: grid;
}

.overlay-visible{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
}

/* Today Section */
#today {
    grid-template-areas: 
    "today-head"
    "today-weather";
    width: 375px;
    width: clamp(381px, 450px, 500px);
    height: 500px;
    grid-template-rows: 100px 400px;
    /* grid-template-columns: 2fr 3fr; */
    border-radius: 25px 25px 10px 10px;
    box-shadow: 20px 20px 28px 4px rgb(146, 146, 146);
}

/* HEADER */
#today-head {
    background-color: rgb(177, 226, 235);
    grid-area: today-head;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px 25px 0 0;
}

#city{
    font-size:  35px;
    padding: 8px
}

#date-time {
    font-size: 18px;
}

#today-weather {
    grid-area: today-weather;
    display: grid;
    grid-template-areas: 
    "today-summary today-details";
    grid-template-columns: 2fr 3fr;
    height: 100%;
    width: 100%;
    padding: 0 5px 25px 0;
    box-sizing: border-box;
}

/* SUMMARY */
#today-summary {
    grid-area: today-summary;
    display: grid;
    grid-template-areas:
    "icon-box"
    "temp-box"
    "feelslike-box"
    "rise-box"
    "set-box"
    "moon-box"
    ;
    grid-template-rows: 90px 50px 1fr 1fr 1fr 1fr;
    /* grid-template-columns: 2fr 3fr; */
    gap: 0 4px 4px 4px 4px,
}

.summary-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.summary-label {
    font-weight: bold;
}

#today-icon-box {
    grid-area: icon-box;
}

#today-icon {
    width: 90px;
    padding: -10px 0 -10px 0
}

#today-temp-box{
    grid-area: temp-box;
}

#today-temp {
    font-size: 45px;
}

#today-feelslike-box {
grid-area: feelslike-box;
}

#today-feelslike {

}

#today-high-box {
grid-area: high-box;
}

#today-high {

}

#today-low-box {
grid-area: low-box;
}

#today-low {

}

#today-rise-box {
grid-area: rise-box;
}

#today-rise {

}

#today-set-box {
grid-area: set-box;
}

#today-set {

}

#today-moon-box {
grid-area: moon-box;
}

#today-moon {

}


/* Details Section */
#today-details {
    grid-area: today-details;
    display: grid;
    grid-template-areas:
    "condition-box condition-box"
    "high-box low-box"
    "rain-box humidity-box"
    "windspeed-box winddirection-box"
    ;
    grid-template-rows: 50x 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

}

.details-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.details-label {
    font-weight: bold;
}

#today-condition-box {
grid-area: condition-box;
font-size: 19px;
}

#today-condition {

}

#today-rain-box {
grid-area: rain-box;
}

#today-rain {

}

#today-humidity-box {
grid-area: humidity-box;
}

#today-humidity {

}

#today-windspeed-box {
grid-area: windspeed-box;
}

#today-windspeed {

}

#today-winddirection-box {
grid-area: winddirection-box;
}

#today-winddirection {

}

@media (max-width: 620px) {
    #header { 
        display: grid;
        grid-template-areas: 
        "logo-box logo-box"
        "search-box metric";
        padding: 0 10px 0 10px;
        
    }

    #logo-box{
        grid-area: logo-box;
    }

    #search-box{
    grid-area: search-box;
    }

    #search-field {
    width: clamp(150px, 65%, 300px);
    }

    #metric {
    grid-area: metric;
    margin: 0 0 0 8px;
    width: 75px;
    height: 52px;
    }
}